################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KegID/KegID/bin/Debug/netstandard2.0
