################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KegID/KegID/bin/Debug/netstandard2.0
/.vs
/KegID/KegID.iOS/obj
/KegID/KegID.UWP/AppPackages
/KegID/KegID.UWP/bin/x86/Debug
/KegID/KegID.UWP/obj
/KegID/KegID/obj
/KegID/KegID.Android/bin/Debug
/KegID/KegID.Android/obj/Debug
/KegID/KegID.Android/obj
/Somechanges.txt
*.txt
/KegID.xlsx
/KegID/KegID.UWP/bin/ARM/Debug
/KegID/KegID.UWP/bin/x64/Debug/Core
/KegID/KegID.UWP/bin/x64/Debug/Acr.UserDialogs.dll
*.xbf
*.dll
/KegID/KegID.UWP/bin/x64/Debug
/KegID.RuntimeComponent/bin/ARM/Debug
/KegID.RuntimeComponent/bin/Debug
/KegID.RuntimeComponent/bin/x64/Debug
/KegID.RuntimeComponent/obj/ARM/Debug
/KegID.RuntimeComponent/obj/x64/Debug
/KegID.RuntimeComponent/obj/Debug
/KegID/KegID.iOS/bin
/KegID.RuntimeComponent/obj/ARM/Release
/KegID.RuntimeComponent/obj/Release
/KegID.RuntimeComponent/obj/x86/Release
/KegID.RuntimeComponent/obj/x64/Release/KegID.RuntimeComponent.csproj.CoreCompileInputs.cache
